/node_modules
/public/storage
/storage
/vendor
/.idea
/doc
Homestead.json
Homestead.yaml
.env
.DS_Store
laravel.log
app/Sql/
app/library/WxpayAPI_php_v3/logs/
.idea
*.iml
out
genresources/assets/js/components/album/
resources/assets/js/components/bbs/
resources/assets/js/components/main/
resources/assets/js/components/member/
resources/assets/js/components/program/
resources/assets/js/components/setting/
resources/assets/js/components/statistics/
resources/assets/js/components/system/
resources/views/manage/album/
/env/
/config/pem/
/vendor/
/tests/
app/Http/Controllers/Admin/System/Account/
app/Http/Controllers/Admin/Xcx/album/
app/Http/Controllers/Admin/Xcx/program/
public/asset/images/alert/
public/asset/images/document/
public/res/images/
